workflows/Agente de IA con memoria y tools.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T07:43:10.966Z",
  "id": "uR7mNQoocpoAeMZJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente de IA con memoria y tools",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6eff192d-2b6f-4152-8a86-9a6e7db1bcb2",
      "name": "When chat message received",
      "webhookId": "65bcc33a-5ac8-41f4-b730-c71bf803ee4b"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aGn14FAH-m5g1mSID6Funcmt-nI1vP_8bQfJlCXb19g",
          "mode": "list",
          "cachedResultName": "Agente de IA con memoria y tools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGn14FAH-m5g1mSID6Funcmt-nI1vP_8bQfJlCXb19g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGn14FAH-m5g1mSID6Funcmt-nI1vP_8bQfJlCXb19g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BUSQUEDA": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "BUSQUEDA"
          ],
          "schema": [
            {
              "id": "BUSQUEDA",
              "displayName": "BUSQUEDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESULTADO",
              "displayName": "RESULTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "90650cf1-69e0-4614-835b-dfa805093112",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DcHwvHnkspHfFaI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente que me ayuda a buscar mis preguntas.\n\nSiempre contestarás en la lengua en la cual te llegue el mensaje y solo quiero que me contestes de forma clara y concisa las respuestas y los links si es necesario."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "028fb54f-8771-4c57-a610-9d106e96af4a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "aef7b907-97ff-40f5-8dbc-801248673b5e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "txwMr6E1QaaA40BX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "d57ae178-e9f6-4069-972f-1e30be326849",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aGn14FAH-m5g1mSID6Funcmt-nI1vP_8bQfJlCXb19g",
          "mode": "list",
          "cachedResultName": "Agente de IA con memoria y tools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGn14FAH-m5g1mSID6Funcmt-nI1vP_8bQfJlCXb19g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aGn14FAH-m5g1mSID6Funcmt-nI1vP_8bQfJlCXb19g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RESULTADO": "={{ $json.output }}",
            "BUSQUEDA": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [
            "RESULTADO"
          ],
          "schema": [
            {
              "id": "BUSQUEDA",
              "displayName": "BUSQUEDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESULTADO",
              "displayName": "RESULTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "efa1b3fd-8587-4efb-ad02-fd2a96099ec7",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DcHwvHnkspHfFaI",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T07:43:10.973Z",
      "updatedAt": "2025-10-28T07:43:10.973Z",
      "role": "workflow:owner",
      "workflowId": "uR7mNQoocpoAeMZJ",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T08:04:43.000Z",
  "versionId": "c3974e7c-77d6-4fc0-8bfa-be5967928e91"
}