workflows/Back Up Workflows.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-01T13:50:14.823Z",
    "createdAt": "2025-12-01T13:50:14.823Z",
    "versionId": "6ab67513-b6da-43fe-a9fb-bcccf7ae88e8",
    "workflowId": "yU6WDslddBKEM8j4",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          496
        ],
        "id": "bc1e18ea-b650-48c0-87e9-a7923adb8440",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 23
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          688
        ],
        "id": "f7878f89-6d64-4925-b7b5-727ced34b7fc",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7d4907f1-fcfe-47eb-b442-d53065c7dcab",
                "name": "repo.owner",
                "value": "carlos-escarcena",
                "type": "string"
              },
              {
                "id": "38071e91-fb1e-4172-913a-a99a797da8b3",
                "name": "repo.name",
                "value": "N8N-Workflows",
                "type": "string"
              },
              {
                "id": "29798405-9a41-4848-b023-995ef65c18cf",
                "name": "repo.path",
                "value": "workflows/",
                "type": "string"
              },
              {
                "id": "0aa2ab93-36e2-4073-b281-da183191e373",
                "name": "url",
                "value": "https://github.com/",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          496
        ],
        "id": "ff7473c0-98ca-497b-a85d-1be3e8c6ba9c",
        "name": "Variables"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          448,
          496
        ],
        "id": "a504966c-de95-413f-95be-e041b49cd4d9",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "vFzxSxyoIxlIFw7v",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1120,
          520
        ],
        "id": "f69bb5e7-2881-44bb-babb-1fac6addb3b4",
        "name": "Merge"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.github_status }}",
                      "rightValue": "same",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "095cf813-c4fe-459e-a24f-f7cc6e5912df"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "0"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4f8edb63-36c4-4957-9ac4-0299998b4ac0",
                      "leftValue": "={{ $json.github_status }}",
                      "rightValue": "different",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "1"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "bee5400a-3afe-4518-893d-86cb16968290",
                      "leftValue": "={{ $json.github_status }}",
                      "rightValue": "new",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "2"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          1568,
          504
        ],
        "id": "e15c6d90-b4da-4def-8d08-fc4611b0d749",
        "name": "Switch"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1792,
          304
        ],
        "id": "8c7865ec-2315-4b56-91ca-79f2bd3352a5",
        "name": "same"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1792,
          496
        ],
        "id": "4181eada-b574-422d-9ad9-486de1072d27",
        "name": "different"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1792,
          688
        ],
        "id": "7695c4dc-c29a-4fd3-9c22-40b58cb298eb",
        "name": "new"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Variables').item.json.repo.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Variables').item.json.repo.name }}",
            "mode": "name"
          },
          "filePath": "={{ $('Variables').item.json.repo.path }}{{ $('OneAtATime').item.json.name }}.json",
          "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2016,
          952
        ],
        "id": "0925d2df-e9d1-43e5-a0a2-6758dc6ee872",
        "name": "Create a file",
        "webhookId": "7720d251-ff7b-4437-87ca-eb245bd48e75",
        "credentials": {
          "githubApi": {
            "id": "RL5eAD7XhVDQCuva",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          520
        ],
        "id": "f62253e8-02b5-4252-98a8-93bf5e133d50",
        "name": "isDiffOrNew"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          672,
          496
        ],
        "id": "6940a9ed-e526-4d99-b2a0-1131ef4e6f37",
        "name": "OneAtATime"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $('Variables').item.json.repo.owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Variables').item.json.repo.name }}",
            "mode": ""
          },
          "filePath": "={{ $('Variables').item.json.repo.path }}{{$json.name}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "722fe8d9-c333-47e1-8ee5-ec56f0e9f059",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          896,
          464
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "00570551-42a2-4e7e-a12e-7c89f41293f3",
        "credentials": {
          "githubApi": {
            "id": "RL5eAD7XhVDQCuva",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('Variables').item.json.repo.owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Variables').item.json.repo.name }}",
            "mode": ""
          },
          "filePath": "={{ $('Variables').item.json.repo.path }}{{ $('OneAtATime').item.json.name }}.json",
          "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})"
        },
        "id": "9db84719-03f8-436c-8456-dfc827b2738d",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          2016,
          760
        ],
        "typeVersion": 1,
        "webhookId": "b86e690b-299a-4457-ad39-8aa578140e50",
        "credentials": {
          "githubApi": {
            "id": "RL5eAD7XhVDQCuva",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "6834483413",
          "text": "[N8N Backup]: El backup de tus Workflows se ha guardado correctamente!",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1120,
          272
        ],
        "id": "118b3773-08c0-4e3c-8c6c-3a45e9c7e7f2",
        "name": "Send a text message",
        "webhookId": "a52b42ad-079a-484f-b419-68e5aa5a06b7",
        "credentials": {
          "telegramApi": {
            "id": "siGay3O6aJkHIJfz",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          896,
          272
        ],
        "id": "d9b234b7-c445-46b3-bb37-3f9435b550ee",
        "name": "Limit"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "same",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "new": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "same": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OneAtATime": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "6ab67513-b6da-43fe-a9fb-bcccf7ae88e8",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T09:04:39.234Z",
  "id": "yU6WDslddBKEM8j4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Back Up Workflows",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        496
      ],
      "id": "bc1e18ea-b650-48c0-87e9-a7923adb8440",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        688
      ],
      "id": "f7878f89-6d64-4925-b7b5-727ced34b7fc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d4907f1-fcfe-47eb-b442-d53065c7dcab",
              "name": "repo.owner",
              "value": "carlos-escarcena",
              "type": "string"
            },
            {
              "id": "38071e91-fb1e-4172-913a-a99a797da8b3",
              "name": "repo.name",
              "value": "N8N-Workflows",
              "type": "string"
            },
            {
              "id": "29798405-9a41-4848-b023-995ef65c18cf",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            },
            {
              "id": "0aa2ab93-36e2-4073-b281-da183191e373",
              "name": "url",
              "value": "https://github.com/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        496
      ],
      "id": "ff7473c0-98ca-497b-a85d-1be3e8c6ba9c",
      "name": "Variables"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        448,
        496
      ],
      "id": "a504966c-de95-413f-95be-e041b49cd4d9",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "vFzxSxyoIxlIFw7v",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        520
      ],
      "id": "f69bb5e7-2881-44bb-babb-1fac6addb3b4",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "same",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "095cf813-c4fe-459e-a24f-f7cc6e5912df"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f8edb63-36c4-4957-9ac4-0299998b4ac0",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "different",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bee5400a-3afe-4518-893d-86cb16968290",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1568,
        504
      ],
      "id": "e15c6d90-b4da-4def-8d08-fc4611b0d749",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        304
      ],
      "id": "8c7865ec-2315-4b56-91ca-79f2bd3352a5",
      "name": "same"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        496
      ],
      "id": "4181eada-b574-422d-9ad9-486de1072d27",
      "name": "different"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        688
      ],
      "id": "7695c4dc-c29a-4fd3-9c22-40b58cb298eb",
      "name": "new"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}{{ $('OneAtATime').item.json.name }}.json",
        "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2016,
        952
      ],
      "id": "0925d2df-e9d1-43e5-a0a2-6758dc6ee872",
      "name": "Create a file",
      "webhookId": "7720d251-ff7b-4437-87ca-eb245bd48e75",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        520
      ],
      "id": "f62253e8-02b5-4252-98a8-93bf5e133d50",
      "name": "isDiffOrNew"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        496
      ],
      "id": "6940a9ed-e526-4d99-b2a0-1131ef4e6f37",
      "name": "OneAtATime"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.name }}",
          "mode": ""
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}{{$json.name}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "722fe8d9-c333-47e1-8ee5-ec56f0e9f059",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        896,
        464
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "00570551-42a2-4e7e-a12e-7c89f41293f3",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.name }}",
          "mode": ""
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}{{ $('OneAtATime').item.json.name }}.json",
        "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})"
      },
      "id": "9db84719-03f8-436c-8456-dfc827b2738d",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        2016,
        760
      ],
      "typeVersion": 1,
      "webhookId": "b86e690b-299a-4457-ad39-8aa578140e50",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6834483413",
        "text": "[N8N Backup]: El backup de tus Workflows se ha guardado correctamente!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        272
      ],
      "id": "118b3773-08c0-4e3c-8c6c-3a45e9c7e7f2",
      "name": "Send a text message",
      "webhookId": "a52b42ad-079a-484f-b419-68e5aa5a06b7",
      "credentials": {
        "telegramApi": {
          "id": "siGay3O6aJkHIJfz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        896,
        272
      ],
      "id": "d9b234b7-c445-46b3-bb37-3f9435b550ee",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Perth",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "EYX2BC4I0DolsgK7",
    "timeSavedPerExecution": 15
  },
  "shared": [
    {
      "updatedAt": "2025-10-28T09:04:39.238Z",
      "createdAt": "2025-10-28T09:04:39.238Z",
      "role": "workflow:owner",
      "workflowId": "yU6WDslddBKEM8j4",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-29T14:24:42.000Z",
  "versionId": "6ab67513-b6da-43fe-a9fb-bcccf7ae88e8"
}