workflows/Back Up Workflows.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "FIN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T09:04:39.234Z",
  "id": "yU6WDslddBKEM8j4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Back Up Workflows",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "bc1e18ea-b650-48c0-87e9-a7923adb8440",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "f7878f89-6d64-4925-b7b5-727ced34b7fc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d4907f1-fcfe-47eb-b442-d53065c7dcab",
              "name": "repo.owner",
              "value": "carlos-escarcena",
              "type": "string"
            },
            {
              "id": "38071e91-fb1e-4172-913a-a99a797da8b3",
              "name": "repo.name",
              "value": "N8N-Workflows",
              "type": "string"
            },
            {
              "id": "29798405-9a41-4848-b023-995ef65c18cf",
              "name": "repo.path",
              "value": ".github/workflows/",
              "type": "string"
            },
            {
              "id": "0aa2ab93-36e2-4073-b281-da183191e373",
              "name": "url",
              "value": "https://github.com/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        112
      ],
      "id": "ff7473c0-98ca-497b-a85d-1be3e8c6ba9c",
      "name": "Variables"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        448,
        112
      ],
      "id": "a504966c-de95-413f-95be-e041b49cd4d9",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "vFzxSxyoIxlIFw7v",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Variables').item.json.repo.name }}"
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        896,
        32
      ],
      "id": "23fb163a-8565-4336-80a2-b4a1fee80c29",
      "name": "Get a file",
      "webhookId": "107340f2-9207-4305-8fc7-7e6922102b32",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        112
      ],
      "id": "f69bb5e7-2881-44bb-babb-1fac6addb3b4",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "same",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "095cf813-c4fe-459e-a24f-f7cc6e5912df"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f8edb63-36c4-4957-9ac4-0299998b4ac0",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "different",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bee5400a-3afe-4518-893d-86cb16968290",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1568,
        96
      ],
      "id": "e15c6d90-b4da-4def-8d08-fc4611b0d749",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        -112
      ],
      "id": "8c7865ec-2315-4b56-91ca-79f2bd3352a5",
      "name": "same"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        80
      ],
      "id": "4181eada-b574-422d-9ad9-486de1072d27",
      "name": "different"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        304
      ],
      "id": "7695c4dc-c29a-4fd3-9c22-40b58cb298eb",
      "name": "new"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.owner }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.name }}",
          "mode": "url"
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}",
        "fileContent": "={{ $node[\"isDiffOrNew\"].jeson[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{ $node[\"OneAtATime\"].jeson[\"name\"] }}.json ({{ $json[\"github_status\"] }})"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2016,
        416
      ],
      "id": "bfb7681b-bf0b-4cc9-9fb5-278b4cca8c8a",
      "name": "Edit a file",
      "webhookId": "93b53ebb-ed4e-4fa4-b6c3-068d9ec00e2d",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}{{ $('OneAtATime').item.json.name }}.json",
        "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2016,
        608
      ],
      "id": "0925d2df-e9d1-43e5-a0a2-6758dc6ee872",
      "name": "Create a file",
      "webhookId": "7720d251-ff7b-4437-87ca-eb245bd48e75",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        -160
      ],
      "id": "20508348-193d-46c7-ad72-f8a7698fa180",
      "name": "FIN"
    },
    {
      "parameters": {
        "jsCode": "// Inputs esperados:\n// $input[0] = archivo obtenido desde GitHub (puede contener o no 'content')\n// $input[1] = workflow actual de n8n a comparar\n\n// Si el archivo existe en GitHub\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n\n  // Decodificar contenido base64 y parsear\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString('utf8'));\n  var n8nWorkflow = $input.all()[1].json;\n\n  // Ordenar las claves de ambos objetos\n  function orderObject(obj) {\n    const ordered = {};\n    Object.keys(obj).sort().forEach(function(key) {\n      ordered[key] = obj[key];\n    });\n    return ordered;\n  }\n\n  var orderedOriginal = orderObject(origWorkflow);\n  var orderedActual = orderObject(n8nWorkflow);\n\n  // Convertir a string para comparar\n  var origStr = JSON.stringify(orderedOriginal);\n  var actualStr = JSON.stringify(orderedActual);\n\n  if (origStr === actualStr) {\n    return [{ result: \"same\" }];\n  } else {\n    return [{ result: \"different\" }];\n  }\n\n} else {\n  // Si no existe el archivo en GitHub\n  return [{ result: \"new\" }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        112
      ],
      "id": "f62253e8-02b5-4252-98a8-93bf5e133d50",
      "name": "isDiffOrNew"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        112
      ],
      "id": "6940a9ed-e526-4d99-b2a0-1131ef4e6f37",
      "name": "OneAtATime"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T09:04:39.238Z",
      "updatedAt": "2025-10-28T09:04:39.238Z",
      "role": "workflow:owner",
      "workflowId": "yU6WDslddBKEM8j4",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T15:05:08.000Z",
  "versionId": "1dc5c1b4-2d93-404f-92a9-1e6dc6404085"
}