workflows/Bot Telegram Errores.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-11T12:00:33.068Z",
    "createdAt": "2025-12-11T12:00:33.068Z",
    "versionId": "cb9cfd77-c047-4c30-8d23-028cd7c78bef",
    "workflowId": "EYX2BC4I0DolsgK7",
    "nodes": [
      {
        "parameters": {
          "chatId": "=6834483413",
          "text": "=Workflow Error: {{ $json.workflow.name }}\n\n{{ $json.execution.error.node.name }} fall贸 a las {{  $now.format(\"HH:mm\") }}\n\nEl mensaje del error ha sido: {{ $json.execution.error.message }}\n\nEsta ha sido la ejecuci贸n: {{ $json.execution.url }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          352,
          -176
        ],
        "id": "edc84db4-2581-4e77-b1c3-d9ae1402ba2e",
        "name": "Send a text message",
        "webhookId": "ee974080-af66-4dd0-8348-cf1c8ac7776e",
        "credentials": {
          "telegramApi": {
            "id": "siGay3O6aJkHIJfz",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          16,
          0
        ],
        "id": "584d75de-b12b-4df9-b5e9-8383cfc8b0fe",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1f2lAV2AAaUdMGwLOQqne356wjUu1WpCDQ8X0i9NoPhA",
            "mode": "list",
            "cachedResultName": "REGISTRO DE ERRORES",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2lAV2AAaUdMGwLOQqne356wjUu1WpCDQ8X0i9NoPhA/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2lAV2AAaUdMGwLOQqne356wjUu1WpCDQ8X0i9NoPhA/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "FECHA Y HORA": "={{ $now.format(\"yyyy/MM/dd HH:mm\")}}",
              "WORKFLOW": "={{ $json.workflow.name }}",
              "URL": "={{ $json.execution.url }}",
              "NODO": "={{ $json.execution.error.node.name }}",
              "MENSAJE DEL ERROR": "={{ $json.execution.error.message }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "FECHA Y HORA",
                "displayName": "FECHA Y HORA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "WORKFLOW",
                "displayName": "WORKFLOW",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "NODO",
                "displayName": "NODO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "MENSAJE DEL ERROR",
                "displayName": "MENSAJE DEL ERROR",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          352,
          144
        ],
        "id": "f90643ca-ed62-44ca-bba7-abe55bf8cbc9",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "4DcHwvHnkspHfFaI",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Escarcena",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "cb9cfd77-c047-4c30-8d23-028cd7c78bef",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-25T01:06:30.173Z",
  "id": "EYX2BC4I0DolsgK7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot Telegram Errores",
  "nodes": [
    {
      "parameters": {
        "chatId": "=6834483413",
        "text": "=Workflow Error: {{ $json.workflow.name }}\n\n{{ $json.execution.error.node.name }} fall贸 a las {{  $now.format(\"HH:mm\") }}\n\nEl mensaje del error ha sido: {{ $json.execution.error.message }}\n\nEsta ha sido la ejecuci贸n: {{ $json.execution.url }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -176
      ],
      "id": "edc84db4-2581-4e77-b1c3-d9ae1402ba2e",
      "name": "Send a text message",
      "webhookId": "ee974080-af66-4dd0-8348-cf1c8ac7776e",
      "credentials": {
        "telegramApi": {
          "id": "siGay3O6aJkHIJfz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "584d75de-b12b-4df9-b5e9-8383cfc8b0fe",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1f2lAV2AAaUdMGwLOQqne356wjUu1WpCDQ8X0i9NoPhA",
          "mode": "list",
          "cachedResultName": "REGISTRO DE ERRORES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2lAV2AAaUdMGwLOQqne356wjUu1WpCDQ8X0i9NoPhA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f2lAV2AAaUdMGwLOQqne356wjUu1WpCDQ8X0i9NoPhA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA Y HORA": "={{ $now.format(\"yyyy/MM/dd HH:mm\")}}",
            "WORKFLOW": "={{ $json.workflow.name }}",
            "URL": "={{ $json.execution.url }}",
            "NODO": "={{ $json.execution.error.node.name }}",
            "MENSAJE DEL ERROR": "={{ $json.execution.error.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FECHA Y HORA",
              "displayName": "FECHA Y HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WORKFLOW",
              "displayName": "WORKFLOW",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NODO",
              "displayName": "NODO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MENSAJE DEL ERROR",
              "displayName": "MENSAJE DEL ERROR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        144
      ],
      "id": "f90643ca-ed62-44ca-bba7-abe55bf8cbc9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DcHwvHnkspHfFaI",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Australia/Perth",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-10-25T01:06:30.178Z",
      "createdAt": "2025-10-25T01:06:30.178Z",
      "role": "workflow:owner",
      "workflowId": "EYX2BC4I0DolsgK7",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-11T12:00:33.068Z",
  "versionId": "cb9cfd77-c047-4c30-8d23-028cd7c78bef"
}