workflows/CHECKEO DISPONIBILIDAD.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-12T17:23:08.540Z",
    "createdAt": "2025-12-12T17:23:08.540Z",
    "versionId": "e4257dc7-e912-4ef9-9280-9a7bbf210308",
    "workflowId": "BtXRbnqmyL0oDa2o",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "afterTime"
              },
              {
                "name": "beforeTime"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "572186d2-fed9-45e5-ac54-dbfb9cb21d70",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "c_6680a8c1a72a6970c40f88afd2b87ed069059864e256169776f2238e06aad681@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "CALENDARIO PRUEBA N8N"
          },
          "returnAll": true,
          "timeMin": "={{ $json.afterTime }}",
          "timeMax": "={{ $json.beforeTime }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          224,
          0
        ],
        "id": "42b5ed5e-0e46-49dd-9b0e-0bf5f2f1ff14",
        "name": "Get many events",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "nmKxQwjkO1uFUTkd",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "379e1d86-90af-4c96-9d43-83eb43ccb32b",
                "leftValue": "={{ $json.summary }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          0
        ],
        "id": "11679fea-dc0d-43ed-b53c-c655e4caed26",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e41f9298-b2a0-4797-a043-7c9df923545d",
                "name": "message",
                "value": "The entire day is available",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          0
        ],
        "id": "f2769583-fba9-4086-8a5c-d49479c58602",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Escarcena",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "e4257dc7-e912-4ef9-9280-9a7bbf210308",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T08:17:02.489Z",
  "id": "BtXRbnqmyL0oDa2o",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CHECKEO DISPONIBILIDAD",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "afterTime"
            },
            {
              "name": "beforeTime"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "572186d2-fed9-45e5-ac54-dbfb9cb21d70",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_6680a8c1a72a6970c40f88afd2b87ed069059864e256169776f2238e06aad681@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "CALENDARIO PRUEBA N8N"
        },
        "returnAll": true,
        "timeMin": "={{ $json.afterTime }}",
        "timeMax": "={{ $json.beforeTime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "42b5ed5e-0e46-49dd-9b0e-0bf5f2f1ff14",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "nmKxQwjkO1uFUTkd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "379e1d86-90af-4c96-9d43-83eb43ccb32b",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "11679fea-dc0d-43ed-b53c-c655e4caed26",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e41f9298-b2a0-4797-a043-7c9df923545d",
              "name": "message",
              "value": "The entire day is available",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "f2769583-fba9-4086-8a5c-d49479c58602",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T08:17:02.495Z",
      "createdAt": "2025-12-11T08:17:02.495Z",
      "role": "workflow:owner",
      "workflowId": "BtXRbnqmyL0oDa2o",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-12T17:23:08.540Z",
  "versionId": "e4257dc7-e912-4ef9-9280-9a7bbf210308"
}