workflows/Creación de RAG.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T08:20:06.306Z",
  "id": "ecxBufhY8pKsYBaX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Creación de RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1G2APnmpYE-QVATw0BqfZgnEJFGvIWULn",
          "mode": "list",
          "cachedResultName": "CARPETA PRUEBA RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1G2APnmpYE-QVATw0BqfZgnEJFGvIWULn"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8be02408-6393-48af-9608-65777875bca3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t9DR8YFZKECz0KPS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "9d0fd522-905d-4ae7-8e6c-9052ff141c4b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t9DR8YFZKECz0KPS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "prueba-n8n-udia",
          "mode": "list",
          "cachedResultName": "prueba-n8n-udia"
        },
        "options": {
          "pineconeNamespace": "prueba-n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "ffd9bd0c-3de6-4e9f-a8c5-8d2884a2ac60",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hKEjnLBSlIPm7yEr",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "1945d9c7-1c10-45f2-9e81-d89971e46f7f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "txwMr6E1QaaA40BX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        208
      ],
      "id": "5cb863da-a655-43e0-ab97-91930d48d09a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        592,
        368
      ],
      "id": "f4f889f3-f120-4fd9-bb25-e7a89901715a",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-28T08:20:06.309Z",
      "createdAt": "2025-10-28T08:20:06.309Z",
      "role": "workflow:owner",
      "workflowId": "ecxBufhY8pKsYBaX",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T08:33:41.000Z",
  "versionId": "30cbf89f-0b13-46f2-8ed9-b039819f09fd"
}