workflows/CREACIÓN DE CUENTAS Y API-KEYS PARA CADA WORKFLOW.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "ESTA VACÍO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESTA VACÍO?": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T18:11:49.715Z",
  "id": "xKwa0Tl5HVRKL8b6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CREACIÓN DE CUENTAS Y API-KEYS PARA CADA WORKFLOW",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        1800
      ],
      "id": "5f18b9dd-cfa2-4266-81bd-6d17be5f2348",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        1992
      ],
      "id": "25e451de-59b3-43b1-ad47-382e2a43ea2f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        176,
        1896
      ],
      "id": "9998fb13-db92-44b3-b5ed-e2a582e5e564",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "vFzxSxyoIxlIFw7v",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        1896
      ],
      "id": "cdb933df-8f48-4a4b-89c1-a04456bf1a4e",
      "name": "OneAtATime"
    },
    {
      "parameters": {
        "chatId": "6834483413",
        "text": "✅ LOS TUTORIALES DE LAS CREDENCIALES Y LAS API-KEYS ESTÁN ACTUALIZADOS!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        1632
      ],
      "id": "5491a707-acf2-44d0-a59f-bb7fde5b774c",
      "name": "Send a text message",
      "webhookId": "e3bdeff0-bff3-4de0-91be-dadfbc7861b0",
      "credentials": {
        "telegramApi": {
          "id": "siGay3O6aJkHIJfz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        1632
      ],
      "id": "0cf353a5-43be-4e8d-b55a-4aa10736b0f9",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1psPCj16oPb_PIdP-8y8Bv9cPwOoCS7k0kmf7r5KTG4E",
          "mode": "list",
          "cachedResultName": "CREACIÓN DE CUENTAS Y API-KEY SEGÚN WORKFLOW",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1psPCj16oPb_PIdP-8y8Bv9cPwOoCS7k0kmf7r5KTG4E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1psPCj16oPb_PIdP-8y8Bv9cPwOoCS7k0kmf7r5KTG4E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WORKFLOW": "={{ $('OneAtATime').item.json.name }}",
            "NODOS EN EL WORKFLOW": "={{ $('Code in JavaScript').item.json.nodeTypes }}",
            "CUENTAS Y API-KEYS NECESARIAS": "={{ $('Code in JavaScript').item.json.credentialTypes }}",
            "TUTORIALES NECESARIOS": "={{ $json.webViewLink.join('\\n') }}"
          },
          "matchingColumns": [
            "WORKFLOW"
          ],
          "schema": [
            {
              "id": "WORKFLOW",
              "displayName": "WORKFLOW",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESCRIPCIÓN DEL WORKFLOW",
              "displayName": "DESCRIPCIÓN DEL WORKFLOW",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NODOS EN EL WORKFLOW",
              "displayName": "NODOS EN EL WORKFLOW",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CUENTAS Y API-KEYS NECESARIAS",
              "displayName": "CUENTAS Y API-KEYS NECESARIAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TUTORIALES NECESARIOS",
              "displayName": "TUTORIALES NECESARIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2416,
        1824
      ],
      "id": "8a125bb2-6ce1-468a-b23c-be9c9c93567d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DcHwvHnkspHfFaI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// La entrada es el WORKFLOW ÚNICO, no todos los nodos de la automatización.\nconst workflowData = $input.first().json;\nconst nodeArray = workflowData.nodes;\n\n// Función de limpieza y formato (manteniendo las anteriores)\nconst cleanApiSuffix = (key) => key.replace(/Api$/i, '');\nconst formatKeyForDisplay = (key) => {\n    let spacedKey = key.replace(/([A-Z])/g, ' $1').trim();\n    return spacedKey.toUpperCase();\n};\n\nconst uniqueCredentialKeys = new Set();\nconst uniqueNodeTypes = new Set();\nconst searchTerms = new Set(); // Nuevo Set para almacenar términos de búsqueda (ej: \"GOOGLE DRIVE\")\n\nfor (const node of nodeArray) {\n    // 1. Tipos de Nodo\n    if (node.type) {\n        const formattedNodeType = formatKeyForDisplay(node.type);\n        uniqueNodeTypes.add(formattedNodeType);\n    }\n\n    // 2. Tipos de Credencial\n    if (node.credentials && Object.keys(node.credentials).length > 0) {\n        const credentialType = Object.keys(node.credentials)[0];\n        const cleanedCredentialType = cleanApiSuffix(credentialType); \n        const formattedCredentialType = formatKeyForDisplay(cleanedCredentialType);\n        \n        uniqueCredentialKeys.add(formattedCredentialType);\n        \n        // **NUEVO**: Usar el tipo de credencial formateado como término de búsqueda\n        searchTerms.add(formattedCredentialType);\n    }\n}\n\n// Convertir Sets a Arrays y cadenas\nconst credentialOutput = Array.from(uniqueCredentialKeys).join('\\n');\nconst typeOutput = Array.from(uniqueNodeTypes).join('\\n');\nconst searchTermsArray = Array.from(searchTerms);\n\n// Devolver el output con el array de términos de búsqueda\nreturn [\n    {\n        json: {\n            workflowName: workflowData.name, // Añade el nombre del workflow para la Sheets\n            credentialTypes: credentialOutput, \n            nodeTypes: typeOutput,\n            // Array con los términos clave para buscar los links de Drive\n            searchTerms: searchTermsArray            \n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1824
      ],
      "id": "7f0a4dff-a5f0-4ffd-b464-37ec4cf25b8c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        1896
      ],
      "id": "b0b304bd-1f8b-47ca-bcb2-e5a46669d51c",
      "name": "Wait",
      "webhookId": "505d437d-4abb-4127-9312-c50981196b7e"
    },
    {
      "parameters": {
        "fieldToSplitOut": "searchTerms",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1072,
        1896
      ],
      "id": "4fe4d557-46b9-4fe3-bf15-a829045a539e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a931283-2ae7-4457-a759-3127558fb006",
              "leftValue": "={{ $json.searchTerms }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        1896
      ],
      "id": "a10cfdb2-96f1-4c27-807a-7aeb5743121b",
      "name": "ESTA VACÍO?"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "CREACIÓN DE CUENTA Y API KEY",
        "filter": {},
        "options": {
          "fields": [
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        1896
      ],
      "id": "d6208e37-f0b2-4cc4-bb99-f708727a399b",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t9DR8YFZKECz0KPS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.name }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1qBTHPg-XD14og49MJ-gMz7aHmg2vwObv",
            "mode": "list",
            "cachedResultName": "CREACIÓN DE CUENTAS Y API-KEYS",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1qBTHPg-XD14og49MJ-gMz7aHmg2vwObv"
          }
        },
        "options": {
          "fields": [
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        1896
      ],
      "id": "f512dc06-620b-4383-9a3c-aa1d545d6529",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t9DR8YFZKECz0KPS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55df8051-26b4-415c-b578-32b57ed507a1",
              "leftValue": "={{ $('Search files and folders').item.json.name }}",
              "rightValue": "={{ $('Split Out').item.json.searchTerms }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        1896
      ],
      "id": "a66de0ed-b06a-4af0-99a4-6a29ce270f03",
      "name": "If"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "webViewLink"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2192,
        1824
      ],
      "id": "a29820dc-0e97-4040-a0c2-b51e294acdd9",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2640,
        1968
      ],
      "id": "4a22659c-4f00-44c9-973a-c661b05fb4ec",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Perth",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "EYX2BC4I0DolsgK7",
    "timeSavedPerExecution": 15
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T18:11:49.722Z",
      "createdAt": "2025-12-03T18:11:49.722Z",
      "role": "workflow:owner",
      "workflowId": "xKwa0Tl5HVRKL8b6",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-15T02:04:03.739Z",
  "versionId": "26e5f31f-c3fe-4843-8e6b-26968b830c47"
}