workflows/Ejemplo_Control_Errores.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-25T01:58:47.253Z",
  "id": "uXVxdR7tzc34O6ED",
  "isArchived": false,
  "meta": null,
  "name": "Ejemplo_Control_Errores",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "31987367-dbf6-4def-89f2-bee3b6dfd6d6",
      "name": "When chat message received",
      "webhookId": "e946bede-ab5c-4ef2-a069-cf8242b63f2a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f79b1706-9cc4-4eb7-a287-6abdbfd2e223",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Hola",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "f25eb4d5-b5e7-49bc-b77b-645a226e6294",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        -128
      ],
      "id": "b95d107d-d8cb-4c54-8831-73ad68bed8f4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "errorMessage": "Error!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        448,
        112
      ],
      "id": "881e3dab-8b85-4b9c-aa7c-f9d8951abec7",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "EYX2BC4I0DolsgK7"
  },
  "shared": [
    {
      "updatedAt": "2025-10-25T01:58:47.256Z",
      "createdAt": "2025-10-25T01:58:47.256Z",
      "role": "workflow:owner",
      "workflowId": "uXVxdR7tzc34O6ED",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-25T02:08:00.000Z",
  "versionId": "9911fcfa-d775-4d47-a770-a7ae7c57727e"
}