workflows/Extract Links and URLs from PDF documents using PDF.co.json
{
  "active": false,
  "connections": {
    "Upload": {
      "main": [
        [
          {
            "node": "PDF to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HTML": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load PDF": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to HTML": {
      "main": [
        [
          {
            "node": "Get HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-15T22:18:27.857Z",
  "id": "WrMt4c0eAwUzIgQG",
  "isArchived": false,
  "meta": {
    "templateId": "7031",
    "templateCredsSetupCompleted": true
  },
  "name": "Extract Links and URLs from PDF documents using PDF.co",
  "nodes": [
    {
      "parameters": {
        "formTitle": "pdf",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "f6e71b74-1ecb-43e8-baa2-bf05536d01b7",
      "name": "Load PDF",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        432,
        304
      ],
      "webhookId": "a919be0e-e4c8-4b9c-b8e9-b1ffdd6ef9fb",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "Upload File to PDF.co",
        "name": "={{ $json.data.filename }}"
      },
      "id": "f24dd98b-b3c4-47f1-8345-10097e53803d",
      "name": "Upload",
      "type": "n8n-nodes-pdfco.PDFco Api",
      "position": [
        640,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "pdfcoApi": {
          "id": "EgbhXCn4vPBCZxUT",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Convert from PDF",
        "url": "={{ $json.url }}",
        "convertType": "toHtml",
        "advancedOptions": {}
      },
      "id": "b354cde6-5354-4052-9a6c-d66c328a946f",
      "name": "PDF to HTML",
      "type": "n8n-nodes-pdfco.PDFco Api",
      "position": [
        880,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "pdfcoApi": {
          "id": "EgbhXCn4vPBCZxUT",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "e15b5c0d-5a46-4faa-828f-25e56cfce322",
      "name": "Get HTML",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Load PDF\n",
        "height": 240,
        "width": 208
      },
      "id": "73506c94-6265-4d89-b386-e908285d14e0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Upload to PDF.CO \n",
        "height": 240,
        "color": 2
      },
      "id": "6d23ab8a-5bae-4317-b73e-fb1b2ba8ff16",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## PDF to HTML",
        "height": 240,
        "width": 224,
        "color": 4
      },
      "id": "72be2279-3028-4c24-8973-00879cff375a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get HTML",
        "height": 240,
        "width": 192
      },
      "id": "cebf4aeb-549c-4c9e-84eb-41d880834fb5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Recorrer todos los items que entran al nodo\nconst resultados = [];\n\nfor (const item of $input.all()) {\n  const texto = item.json.data || '';\n  // Regex para URLs (http, https, www)\n  const regexUrl = /(https?:\\/\\/[^\\s]+)|(www\\.[^\\s]+)/gi;\n  \n  // Extraer URLs, si no hay ninguna, el resultado es []\n  const urls = texto.match(regexUrl) || [];\n  \n  // Por cada URL encontrada, crear un nuevo item con la URL\n  for (const url of urls) {\n    resultados.push({ json: { url } });\n  }\n}\n\n// Devolver un array de objetos con las URLs extraídas\nreturn resultados;\n"
      },
      "id": "8f6d9763-dece-45f6-a78b-1b5f6891f2fa",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        1296,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Get URL's \n",
        "height": 240,
        "width": 208,
        "color": 5
      },
      "id": "0c49f98f-0b3c-4c47-ad34-b60b02c5f3a5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-15T22:18:27.860Z",
      "updatedAt": "2025-11-15T22:18:27.860Z",
      "role": "workflow:owner",
      "workflowId": "WrMt4c0eAwUzIgQG",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-15T22:32:25.000Z",
  "versionId": "098e1204-b548-4471-814a-c168a92252c7"
}