workflows/GUARDADO WORKFLOWS GITHUB.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-11T12:25:13.440Z",
    "createdAt": "2025-12-11T12:25:13.440Z",
    "versionId": "03226d15-57f4-44af-9af3-471a6e309761",
    "workflowId": "nFezEpPCZGpD6lhD",
    "nodes": [
      {
        "parameters": {
          "authentication": "accessToken",
          "resource": "file",
          "operation": "create",
          "owner": {
            "__rl": true,
            "value": "={{ $('Start').item.json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Start').item.json.repo_name }}",
            "mode": "name"
          },
          "filePath": "={{ $('Start').item.json.repo_path }}{{ $('OneAtATime').item.json.name }}.json",
          "binaryData": false,
          "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})",
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2016,
          960
        ],
        "id": "0925d2df-e9d1-43e5-a0a2-6758dc6ee872",
        "name": "Create a file",
        "webhookId": "7720d251-ff7b-4437-87ca-eb245bd48e75",
        "credentials": {
          "githubApi": {
            "id": "RL5eAD7XhVDQCuva",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "accessToken",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('Start').item.json.repo_owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Start').item.json.repo_name }}",
            "mode": ""
          },
          "filePath": "={{ $('Start').item.json.repo_path }}{{ $('OneAtATime').item.json.name }}.json",
          "binaryData": false,
          "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})",
          "additionalParameters": {}
        },
        "id": "9db84719-03f8-436c-8456-dfc827b2738d",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          2016,
          768
        ],
        "typeVersion": 1,
        "webhookId": "b86e690b-299a-4457-ad39-8aa578140e50",
        "credentials": {
          "githubApi": {
            "id": "RL5eAD7XhVDQCuva",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1792,
          688
        ],
        "id": "7695c4dc-c29a-4fd3-9c22-40b58cb298eb",
        "name": "new"
      },
      {
        "parameters": {
          "mode": "append",
          "numberInputs": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1120,
          528
        ],
        "id": "f69bb5e7-2881-44bb-babb-1fac6addb3b4",
        "name": "Merge"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          528
        ],
        "id": "f62253e8-02b5-4252-98a8-93bf5e133d50",
        "name": "isDiffOrNew"
      },
      {
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.github_status }}",
                      "rightValue": "same",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "095cf813-c4fe-459e-a24f-f7cc6e5912df"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "0"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4f8edb63-36c4-4957-9ac4-0299998b4ac0",
                      "leftValue": "={{ $json.github_status }}",
                      "rightValue": "different",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "1"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "bee5400a-3afe-4518-893d-86cb16968290",
                      "leftValue": "={{ $json.github_status }}",
                      "rightValue": "new",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "2"
              }
            ]
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          1568,
          512
        ],
        "id": "e15c6d90-b4da-4def-8d08-fc4611b0d749",
        "name": "Switch"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1792,
          496
        ],
        "id": "4181eada-b574-422d-9ad9-486de1072d27",
        "name": "different"
      },
      {
        "parameters": {
          "splitInBatchesNotice": "",
          "batchSize": 1,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          672,
          496
        ],
        "id": "6940a9ed-e526-4d99-b2a0-1131ef4e6f37",
        "name": "OneAtATime"
      },
      {
        "parameters": {
          "authentication": "accessToken",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $('Start').item.json.repo_owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Start').item.json.repo_name }}",
            "mode": ""
          },
          "filePath": "={{ $('Start').item.json.repo_path }}{{$json.name}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "722fe8d9-c333-47e1-8ee5-ec56f0e9f059",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          896,
          464
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "00570551-42a2-4e7e-a12e-7c89f41293f3",
        "credentials": {
          "githubApi": {
            "id": "RL5eAD7XhVDQCuva",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1792,
          304
        ],
        "id": "8c7865ec-2315-4b56-91ca-79f2bd3352a5",
        "name": "same"
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutTelegram": "",
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "6834483413",
          "text": "[N8N Backup]: El backup de tus Workflows se ha guardado correctamente!",
          "replyMarkup": "none",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1120,
          272
        ],
        "id": "118b3773-08c0-4e3c-8c6c-3a45e9c7e7f2",
        "name": "Send a text message",
        "webhookId": "a52b42ad-079a-484f-b419-68e5aa5a06b7",
        "credentials": {
          "telegramApi": {
            "id": "siGay3O6aJkHIJfz",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "maxItems": 1,
          "keep": "firstItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          896,
          272
        ],
        "id": "d9b234b7-c445-46b3-bb37-3f9435b550ee",
        "name": "Limit"
      },
      {
        "id": "3fcb3edc-bcaa-40e2-8d9f-59c5fc824022",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          464,
          496
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "repo_owner",
                "type": "any"
              },
              {
                "name": "repo_name",
                "type": "any"
              },
              {
                "name": "repo_path",
                "type": "any"
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "same",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "new": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "same": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OneAtATime": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Escarcena",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "03226d15-57f4-44af-9af3-471a6e309761",
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T12:25:13.434Z",
  "id": "nFezEpPCZGpD6lhD",
  "isArchived": false,
  "meta": null,
  "name": "GUARDADO WORKFLOWS GITHUB",
  "nodes": [
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "={{ $('Start').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Start').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Start').item.json.repo_path }}{{ $('OneAtATime').item.json.name }}.json",
        "binaryData": false,
        "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2016,
        960
      ],
      "id": "0925d2df-e9d1-43e5-a0a2-6758dc6ee872",
      "name": "Create a file",
      "webhookId": "7720d251-ff7b-4437-87ca-eb245bd48e75",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Start').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Start').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Start').item.json.repo_path }}{{ $('OneAtATime').item.json.name }}.json",
        "binaryData": false,
        "fileContent": "={{ $node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{ $('OneAtATime').item.json.name }}.json ({{ $json[\"github_status\"] }})",
        "additionalParameters": {}
      },
      "id": "9db84719-03f8-436c-8456-dfc827b2738d",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        2016,
        768
      ],
      "typeVersion": 1,
      "webhookId": "b86e690b-299a-4457-ad39-8aa578140e50",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        688
      ],
      "id": "7695c4dc-c29a-4fd3-9c22-40b58cb298eb",
      "name": "new"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        528
      ],
      "id": "f69bb5e7-2881-44bb-babb-1fac6addb3b4",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        528
      ],
      "id": "f62253e8-02b5-4252-98a8-93bf5e133d50",
      "name": "isDiffOrNew"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "same",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "095cf813-c4fe-459e-a24f-f7cc6e5912df"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f8edb63-36c4-4957-9ac4-0299998b4ac0",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "different",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bee5400a-3afe-4518-893d-86cb16968290",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1568,
        512
      ],
      "id": "e15c6d90-b4da-4def-8d08-fc4611b0d749",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        496
      ],
      "id": "4181eada-b574-422d-9ad9-486de1072d27",
      "name": "different"
    },
    {
      "parameters": {
        "splitInBatchesNotice": "",
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        496
      ],
      "id": "6940a9ed-e526-4d99-b2a0-1131ef4e6f37",
      "name": "OneAtATime"
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Start').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Start').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Start').item.json.repo_path }}{{$json.name}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "722fe8d9-c333-47e1-8ee5-ec56f0e9f059",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        896,
        464
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "00570551-42a2-4e7e-a12e-7c89f41293f3",
      "credentials": {
        "githubApi": {
          "id": "RL5eAD7XhVDQCuva",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        304
      ],
      "id": "8c7865ec-2315-4b56-91ca-79f2bd3352a5",
      "name": "same"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutTelegram": "",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "6834483413",
        "text": "[N8N Backup]: El backup de tus Workflows se ha guardado correctamente!",
        "replyMarkup": "none",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        272
      ],
      "id": "118b3773-08c0-4e3c-8c6c-3a45e9c7e7f2",
      "name": "Send a text message",
      "webhookId": "a52b42ad-079a-484f-b419-68e5aa5a06b7",
      "credentials": {
        "telegramApi": {
          "id": "siGay3O6aJkHIJfz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 1,
        "keep": "firstItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        896,
        272
      ],
      "id": "d9b234b7-c445-46b3-bb37-3f9435b550ee",
      "name": "Limit"
    },
    {
      "id": "3fcb3edc-bcaa-40e2-8d9f-59c5fc824022",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        464,
        496
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "repo_owner",
              "type": "any"
            },
            {
              "name": "repo_name",
              "type": "any"
            },
            {
              "name": "repo_path",
              "type": "any"
            }
          ]
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T12:25:13.438Z",
      "createdAt": "2025-12-11T12:25:13.438Z",
      "role": "workflow:owner",
      "workflowId": "nFezEpPCZGpD6lhD",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-11T12:25:13.000Z",
  "versionId": "03226d15-57f4-44af-9af3-471a6e309761"
}