workflows/INFO LEADS FORMULARIO PÁGINA WEB.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-07T17:57:36.888Z",
  "id": "hYK7t6RDHhB8lvW1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "INFO LEADS FORMULARIO PÁGINA WEB",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7c1ac92e-2847-4081-96bd-b0c0acd9e8aa",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "pJ7UaDiUlNCblYTK",
          "name": "API GMAIL (CONTACTO)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26a36f26-1e23-415d-ab20-1d16c328e746",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Info Forms Pagina Web",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "f02f6291-c6b9-49d7-b5b0-498b7911a00d",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst outputItems = [];\n\nfor (const item of items) {\n    // 1. Obtener el texto de la variable 'text'.\n    const rawInputText = item.json.text;\n\n    if (rawInputText) {\n        // a) Reemplazar todos los '\\n' internos con un espacio.\n        let processedText = rawInputText.replace(/\\n/g, ' '); \n        \n        // b) Quitar los espacios al inicio y al final del texto resultante.\n        processedText = processedText.trim();\n\n        // 2. Separar el texto usando el carácter \"|\" (Pipe).\n        const separatedArray = processedText.split('|');\n        \n        // 3. Limpiar los espacios en blanco de cada elemento individual.\n        const cleanedArray = separatedArray.map(element => element.trim());\n        \n        // 4. Crear un ÚNICO objeto JSON de salida que CONTIENE SOLO el array.\n        // La clave 'parsed_data' contendrá el array que necesitas.\n        const outputJson = {\n            parsed_data: cleanedArray \n        };\n\n        // 5. Devolver UN SOLO ítem con el array.\n        outputItems.push({ json: outputJson });\n\n    } else {\n        // Manejar el caso donde el texto está vacío, devolviendo un array vacío.\n        outputItems.push({\n            json: {\n                parsed_data: [] \n            }\n        });\n    }\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b8ee619c-a070-4145-9df7-49d801ec077f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jKA8D3rp2aPxubdrlLpvprhpd6iaY73bc2W3RWXYlw4",
          "mode": "list",
          "cachedResultName": "Info Forms Pagina Web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jKA8D3rp2aPxubdrlLpvprhpd6iaY73bc2W3RWXYlw4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jKA8D3rp2aPxubdrlLpvprhpd6iaY73bc2W3RWXYlw4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.parsed_data[0] }}",
            "Email": "={{ $json.parsed_data[1] }}",
            "Empresa": "={{ $json.parsed_data[2] }}",
            "Teléfono": "='{{ $json.parsed_data[3].replaceAll(' ',' ') }}",
            "Mensaje": "={{ $json.parsed_data[4] }}",
            "Fecha/Hora": "={{ $('Gmail Trigger').item.json.date.toDateTime().format('yyyy/MM/dd - t') }}",
            "PRIMER EMAIL": "={{ $('Gmail Trigger').item.json.date.add(1, 'hour').toDateTime().format('yyyy/MM/dd - t') }}"
          },
          "matchingColumns": [
            "Fecha/Hora"
          ],
          "schema": [
            {
              "id": "Fecha/Hora",
              "displayName": "Fecha/Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIMER EMAIL",
              "displayName": "PRIMER EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RESERVA EN CALENDLY",
              "displayName": "RESERVA EN CALENDLY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "4af0e585-a5b1-47fd-85cb-f98435b933bc",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DcHwvHnkspHfFaI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        544,
        240
      ],
      "id": "1cf4ee23-498c-495f-bcd0-b28ad1d01df0",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "aysQ2I97HS75Kccc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        240
      ],
      "id": "c1cce78c-ce43-4997-a76d-d44d8c12e7d4",
      "name": "Send a message",
      "webhookId": "9a1ae5c4-1fa6-4c44-8a58-7534edefe54a",
      "credentials": {
        "gmailOAuth2": {
          "id": "rdSzta5Y3PMIWpU8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        240
      ],
      "id": "9c125d69-0cbd-4428-8f09-c7cb10a33adc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jKA8D3rp2aPxubdrlLpvprhpd6iaY73bc2W3RWXYlw4",
          "mode": "list",
          "cachedResultName": "Info Forms Pagina Web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jKA8D3rp2aPxubdrlLpvprhpd6iaY73bc2W3RWXYlw4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jKA8D3rp2aPxubdrlLpvprhpd6iaY73bc2W3RWXYlw4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PRIMER EMAIL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        240
      ],
      "id": "758c666e-ed58-4e43-9ffe-45e1b0c2b6a6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DcHwvHnkspHfFaI",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Append or update row in sheet": [
      {
        "json": {
          "Nombre": "Carlos Escarcena Sospedra",
          "Email": "carlos@helioncoreai.com",
          "Empresa": "EMPRESA DE PRUEBA",
          "Teléfono": "'+34 000000000",
          "Mensaje": "Eato es una prueba",
          "Fecha/Hora": "2025/12/07 - 6:33 PM",
          "PRIMER EMAIL": "2025/12/07 - 7:33PM"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Perth",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "EYX2BC4I0DolsgK7",
    "timeSavedPerExecution": 5
  },
  "shared": [
    {
      "updatedAt": "2025-12-07T17:57:36.892Z",
      "createdAt": "2025-12-07T17:57:36.892Z",
      "role": "workflow:owner",
      "workflowId": "hYK7t6RDHhB8lvW1",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1765134484
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-08T20:07:53.000Z",
  "versionId": "cff99e1f-2f52-45da-8389-bf80f6f6c145"
}