workflows/REENVÍO DE EMAIL (CONTACTO).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-01T13:50:14.823Z",
    "createdAt": "2025-12-01T13:50:14.823Z",
    "versionId": "633287e4-2f04-4c0e-8af2-6733e968bdd1",
    "workflowId": "172J3SbVCcjrJdAW",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          -144
        ],
        "id": "ac2e58be-a4cb-4405-b9bc-45ddeea57f18",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "pJ7UaDiUlNCblYTK",
            "name": "API GMAIL (CONTACTO)"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "carlos@helioncoreai.com",
          "subject": "={{ $json.Subject }}",
          "message": "={{ $json.snippet }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          224,
          -144
        ],
        "id": "052ac516-7770-43a2-92be-9d03a622cafd",
        "name": "Send a message",
        "webhookId": "edb5be04-0890-4a63-83f0-cb0fb41fd2f8",
        "credentials": {
          "gmailOAuth2": {
            "id": "pJ7UaDiUlNCblYTK",
            "name": "API GMAIL (CONTACTO)"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "ricardo@helioncoreai.com",
          "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
          "message": "={{ $('Gmail Trigger').item.json.snippet }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          448,
          -144
        ],
        "id": "57c1ec16-a948-4209-b0aa-5c3c3a400143",
        "name": "Send a message1",
        "webhookId": "65ce65fa-7b9d-4d6c-a4dd-615f61065360",
        "credentials": {
          "gmailOAuth2": {
            "id": "pJ7UaDiUlNCblYTK",
            "name": "API GMAIL (CONTACTO)"
          }
        }
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "633287e4-2f04-4c0e-8af2-6733e968bdd1",
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-26T10:30:26.057Z",
  "id": "172J3SbVCcjrJdAW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "REENVÍO DE EMAIL (CONTACTO)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -144
      ],
      "id": "ac2e58be-a4cb-4405-b9bc-45ddeea57f18",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "pJ7UaDiUlNCblYTK",
          "name": "API GMAIL (CONTACTO)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "carlos@helioncoreai.com",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json.snippet }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        -144
      ],
      "id": "052ac516-7770-43a2-92be-9d03a622cafd",
      "name": "Send a message",
      "webhookId": "edb5be04-0890-4a63-83f0-cb0fb41fd2f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "pJ7UaDiUlNCblYTK",
          "name": "API GMAIL (CONTACTO)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ricardo@helioncoreai.com",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        -144
      ],
      "id": "57c1ec16-a948-4209-b0aa-5c3c3a400143",
      "name": "Send a message1",
      "webhookId": "65ce65fa-7b9d-4d6c-a4dd-615f61065360",
      "credentials": {
        "gmailOAuth2": {
          "id": "pJ7UaDiUlNCblYTK",
          "name": "API GMAIL (CONTACTO)"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "EYX2BC4I0DolsgK7",
    "timeSavedPerExecution": 5
  },
  "shared": [
    {
      "updatedAt": "2025-11-26T10:30:26.081Z",
      "createdAt": "2025-11-26T10:30:26.081Z",
      "role": "workflow:owner",
      "workflowId": "172J3SbVCcjrJdAW",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1764238207,
        "possibleDuplicates": [
          "19ac4caaaa042439",
          "19ac4caa9d6ea445"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-26T10:47:26.000Z",
  "versionId": "633287e4-2f04-4c0e-8af2-6733e968bdd1"
}