workflows/REGISTRO DIARIO DE COSTOS.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-08T18:56:07.829Z",
  "id": "tV3QPdgokoiiXD7W",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "REGISTRO DIARIO DE COSTOS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "147aa21f-3238-444a-a4a8-d9b3df802f53",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "rdSzta5Y3PMIWpU8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {},
        "path": "6c84c36e-6838-453c-a76a-bc838a4263b2"
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        384
      ],
      "id": "a4ff7e55-ef1e-4832-b0bd-71b23c22ad53",
      "name": "Telegram Trigger",
      "webhookId": "6c84c36e-6838-453c-a76a-bc838a4263b2",
      "credentials": {
        "telegramApi": {
          "id": "siGay3O6aJkHIJfz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {},
        "path": "6d68c4c5-a5b8-4247-8398-befdf15bcb0c"
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "id": "46d933f2-0346-4777-b596-55c4b6596daa",
      "name": "Telegram Trigger1",
      "webhookId": "6d68c4c5-a5b8-4247-8398-befdf15bcb0c",
      "credentials": {
        "telegramApi": {
          "id": "siGay3O6aJkHIJfz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        288
      ],
      "id": "d0be0bdb-9cef-44d2-8927-d782e9a33f9a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "aysQ2I97HS75Kccc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "721f4490-d073-418b-a63e-dc1adc5148b6",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "aysQ2I97HS75Kccc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        192
      ],
      "id": "2e2f4e8d-85bf-45c4-bf72-f769c1830cf6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        192
      ],
      "id": "2d787132-2647-4be7-a3c9-c1b2449475aa",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DcHwvHnkspHfFaI",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-08T18:56:07.835Z",
      "createdAt": "2025-12-08T18:56:07.835Z",
      "role": "workflow:owner",
      "workflowId": "tV3QPdgokoiiXD7W",
      "projectId": "1hPYqGN0htWyJ6V9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-08T18:56:07.829Z",
  "versionId": "9cf7ae02-cea1-45c0-b51f-c1b7eca2f0aa"
}